.ReactModal__Content {
    .heading {
        text-align: center;
        background-color: $bg-main; //linear-gradient(-135deg, #c850c0, #4158d0);
        color: #5b4949;
        padding: 15px 0;
        font-weight: 700;
    }

    form {
        padding: 20px;

        div {
            margin-bottom: 15px;
        }

        input {
            width: -webkit-fill-available;
            padding: 10px 20px;
            height: 15px;
            box-sizing: unset;
            border-radius: 20px;
            outline: unset;
            border: 1px solid lightgray;
            color: #000;
            cursor: pointer;
            font-size: 1.6rem;

            &:focus {
                border-color: #4158d0;
            }
        }

        .error {
          color: red;
          margin-left: 18px;
          font-size: 1.4rem;
          font-weight: 500;
          margin-top: 5px;
          display: block;
        }
        input[type="submit"] {
            color: #5b4949;
            border: none;
            padding-left: 0;
            font-size: 2rem;
            font-weight: 500;
            background: $bg-main;//linear-gradient(-135deg, #c850c0, #4158d0);
            transition: all 0.3 ease;
            padding: 10px;
            height: 25px;
            font-weight: 700;

            &:hover {
                opacity: .7;
            }
        }
    }
}


.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}

.ReactModal__Content {
  background-color: white;
  padding: 20px;
}

.ReactModal__Body--open {
  overflow: hidden;
}

.ReactModal__Content.ReactModal__Content--after-open {
  position: absolute;
    inset: 40px;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 10px !important;
    outline: none;
    padding: 0 !important;
    width: 400px;
    margin: 0 auto;
    height: min-content;

    @include mq(md,max) {
        width: 80%;
    }
}