.btn {
    border-radius: 8px;
    padding: 12px;

    &-login {
        background-color: $main-color;
        color: #fff;
        font-size: 1.4rem;
    }

    &-sign {
        border: 1px solid $main-color;
        color: $main-color;
        font-size: 1.4rem;
        transition: .3s;

        &:hover {
            background-color: $main-color;
            color: #fff;
        }
    }
}