@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

//baseWidth
$main-fonts: "DM Sans", sans-serif;
$poppins-fonts: "poppins", sans-serif;
$roboto-fonts: "Roboto", sans-serif;

//color common
.bg-1 {
    background-color: #f4f8fe;
}

.d-flex {
    display: flex;
}

.align-item-center {
    align-items: center;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-3 {
    margin-top: 3rem;
}

.mbot-1 {
    margin-bottom: 1rem;
}

.mbot-2 {
    margin-bottom: 2rem;
}

.mbot-3 {
    margin-bottom: 3rem;
}

.mr-1 {
    margin-right: 1rem;
}

.mr-2 {
    margin-right: 2rem;
}

.gap-1 {
    gap: 1rem;
}