/* layout
------------------------------------------------------------*/
body {
  font-family: $main-fonts;
  font-size: 1.6rem;
  background-color: #F3F3F4;
  color: #000;
  font-weight: 400;

  &.is-active {
    overflow: hidden;
  }

  @include mq(xxl, max) {
    font-size: 1.5rem;
  }
}


//-------------------------------------------------------
main {
  // padding: 0px 0 100px;
  padding-top: 60px;
  padding-bottom: 15px;
}

html {
  scroll-behavior: smooth;
}

//-------------------------------------------------------
.l-container {
  max-width: 1320px;
  margin: 0 auto;

  @include mq(xxl, max) {
    padding: 0 25px;
  }

  @include mq(md, max) {
    padding: 0 20px;
  }

  &--0 {
    max-width: calc(100vw - 100px);
    margin-left: auto;
    margin-right: auto;
  }

  &--1 {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;

    @include mq(xxl, max) {
      padding-left: 40px;
      padding-right: 40px;
    }

    @include mq(md, max) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &--2 {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  &--3 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  &--4 {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}

.ReactModal__Content {
  background-color: white;
  padding: 20px;
}

.ReactModal__Body--open {
  overflow: hidden;
}

.ReactModal__Content.ReactModal__Content--after-open {
  position: absolute;
    inset: 40px;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    width: 400px;
    margin: 0 auto;
    height: min-content;
}